<!doctype html>
<html>
  <head>
    <title>About <%=appName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>About <%=appName%></h1>
    <div class="navbar">
      <a href="./">Home page</a>
      <a href="about">About <%=appName%></a>
      <a href="search">Search for food</a>
      <a href="addFood">Add new food</a>
      <a href="list">List food</a>
      <a href="register">Register with us</a>
      <a href="login">Login</a>
      <a href="logout">Logout</a>
      <a href="delete">Delete food</a>
      <a href="updateSearch">Update food</a>  
      <a href="api">API</a>   
    </div>
    <!--Information about other pages-->
    <p>This web app calculates and displays nutritional facts for recipes or meals based on food that has been added</p>
    <p>The user can select\ food ingredients for the food and then the web application retrieving the nutritional facts for each food ingredient will not be displayed as this feature is not available yet</p>
    <p>You can add, update or delete the ingredients</p>
    <h4>Note that you can only delete or update ingredients that have been added by you</h6>
  </body>
</html> 