<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to <%=appName%></title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <!--Page title and links to other pages-->
    <h1><%=appName%></h1>
    <div class="navbar">
      <a href="./">Home page</a>
      <a href="about">About <%=appName%></a>
      <a href="search">Search for food</a>
      <a href="addFood">Add new food</a>
      <a href="list">List food</a>
      <a href="register">Register with us</a>
      <a href="login">Login</a>
      <a href="logout">Logout</a>
      <a href="delete">Delete food</a>  
      <a href="updateSearch">Update food</a>  
      <a href="api">Food Api</a>  
    </div>
    <h2>Please navigate to the about page for more info!</h2>
    <img src="https://media.tenor.com/cB0Jm75RKAoAAAAC/hamtaro-eat.gif" alt="hamtaro-eat">
  </body>
</html>
